@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f8fc;
}
@layer base {
  html {
    background-color: #0f172a;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
  }
}

/* iphone */
.box {
  position: relative;
  width: 300px;
  height: 600px;
  background: #707b8a;
  border-radius: 50px;
}

.box::before {
  content: '';
  position: absolute;
  inset: 3px;
  background: #000;
  border-radius: 48px;
}

.inner {
  position: absolute;
  inset: 3px;
  background-size: cover;
  background-position: center;
  border-radius: 48px;
  border: 10px solid #000;
  display: flex;
  animation: change 8s infinite;
  justify-content: center;
}

@keyframes change {
  0% {
    background-image: url('/iphone/ip1.png');
  }
  30% {
    background-image: url('/iphone/ip2.png');
  }
  60% {
    background-image: url('/iphone/ip3.png');
  }
  100% {
    background-image: url('/iphone/ip1.png');
  }
}
/* button iphone */

.btn {
  position: absolute;
  top: 110px;
  left: -2px;
  width: 2px;
  height: 26px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: radial-gradient(#ccc, #707b8a, #222);
  z-index: 10;
}
.btn.btn2 {
  top: 160px;
  height: 40px;
}

.btn.btn3 {
  top: 220px;
  height: 40px;
}

.rightbutton {
  position: absolute;
  top: 170px;
  right: -2px;
  width: 2px;
  height: 70px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: radial-gradient(#ccc, #707b8a, #222);
  z-index: 10;
}
/* button iphone */

/* island pop-up */
.island {
  position: absolute;
  top: 10px;
  width: 90px;
  height: 25px;
  background: #000;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.island:hover {
  width: 200px;
  height: 25px;
}
/* iphone */
